<!-- Header Start -->
<app-header></app-header>
<!-- Header Start -->

<!-- Banner Start -->
<div class="banner" id="main-banner">

  <div class="banner-wrap">
    <div class="banner-content">
      <h1>Empowering you to make smarter decisions through transparency.</h1>
      <p>
        We believe transparency is the key to reduce the mismatch in employment and recruitment.
        Join us today!
      </p>
      <div class="job-seeker">
        <a [routerLink]="['/account/register']" routerLinkActive="active">Register now!</a>

      </div>

    </div>
  </div>
  <div class="banner-img">
    <img src="assets/images/work-place-behaviour.jpg" alt="Work Place Behaviour DISC" />
  </div>
</div>
<!-- Banner End -->

<!-- Contant Start -->
<div class="content">
  <section class="banner-box-wrap">
    <div class="container-fuild">
      <div class="banner-advantages-wrap">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="banner-advantages-video-wrap">
            <video id="player" controls poster="../../assets/images/why-fourlead.jpg">
              <source src="../../assets/videos/why-fourlead.mp4" type="video/mp4">
            </video>

          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
          <div class="banner-advantages-content">
            <h2 class="sec-heading">What makes fourlead a smarter job portal?</h2>
            <p class="main-para">Unlike conventional job portal, Fourlead is integrated with DISC elements for
              both the
              candidates and
              employers. Fourlead lets employers state the behavioural demands for the jobs and matching it
              with the
              behavioural traits of the candidates. DISC Assessment is a powerful tool that unveils the
              in-depth
              information
              which will help you in making a better and smarter decision. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- We beleive transparency -->
  <section>
    <div class="container-fluid">
      <div class="fourlead-content-wraper">
        <div class="main-beleive-transparency">
          <h2>WE BELIEVE TRANSPARENCY IS THE KEY TO SUCCESSFUL RETENTION.</h2>
          <p class="main-para">Poor transparency is one of the key reasons that contributes to the job, culture and team
            mismatches.</p>
        </div>
        <div class="main-three-misfit">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="three-misfit-heading">
              <h5>THE THREE MISFITS</h5>
              <div class="three-misfit-inner">
                <h6>JOB MISFIT</h6>
                <p>According to CareerBuilder, 74% of the employers admit
                  hiring the wrong person for an opening.
                </p>
                <h6>CULTURE MISFIT</h6>
                <p>Cultural fit is not a buzzword. A study shows 89% of hiring failures are due to poor cultural fit.
                </p>
                <h6>TEAM MISFIT</h6>
                <p>Team misfit remains one of the key reason to why people resigned in a new job.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="three-misfit-content">
              <img src="../../../../assets/images/fourlead-3-misfits.svg" alt="Fourlead Misfits.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- We beleive transparency -->

  <!-- Address the three misfit -->
  <section>
    <div class="container-fluid">
      <div class="fourlead-content-wraper">
        <div class="main-address-misfit">
          <h2>ADDRESS THE THREE MISFITS WITH YOUR BEHAVIOUR KNOWLEDGE</h2>
          <P class="main-para">Fourlead is the only job portal that empower job seekers with workplace behavioural
            information.</P>
        </div>
        <div class="address-misfit-inner">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="address-misfit-content">
              <img src="../../../../assets/images/fourlead-confident.svg" alt="Fourlead Confident">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="address-misfit-content">
              <h5>JOB DIMENSION</h5>
              <P>Professor Dr Robin Stuart-Kotze says every job has a set of behavioural demands.
                Check your behaviour compatibility with the job behavioural demand.
              </P>
              <h5>CULTURE DIMENSION</h5>
              <P>Understanding your private behaviour would give you a prespective on what type
                of company culture suits you better.
              </P>
              <h5>TEAM DIMENSION</h5>
              <P>Knowing your weaknesses make you more readily to accept feedback from others. Thus, you foster a better
                relationship with your team.
              </P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Address the three misfit -->

  <section class="fourlet-wrap">
    <div class="container-fuild">
      <div class="fourlet">
        <div class="fourlet-content">
          <h2>FOURLEAD GIVES YOU THE INSIDER INSIGHTS OF THE COMPANIES</h2>
          <p class="main-para">
            Fourlead is the only job portal that provides the key insights wiht a constructive, fair and non-bias
            system.
          </p>
        </div>
        <div class="row fourlet-list-wrap">
          <div class="col-lg-5 col-md-5">
            <div class="row list-item-row">
              <div class="col-lg-4">
                <div class="list-item-img">
                  <img src="assets/images/behaviour_demand.svg" alt=" Behaviour Demands" />
                </div>
              </div>
              <div class="col-lg-8 align-self-center">
                <div class="list-item">
                  <h4>Behavioural Demands </h4>
                  <p>Beside the standard requirements, employers can set the behaviour demands for the job opening.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5">
            <div class="row list-item-row">
              <div class="col-lg-4">
                <div class="list-item-img">
                  <img src="assets/images/stars.svg" alt="Employee Value Propositions (EVP)" />
                </div>
              </div>
              <div class="col-lg-8 align-self-center">
                <div class="list-item">
                  <h4>Employee Value Propositions </h4>
                  <p>We show real employee reviews towards the company’s EVP – compensation, benefits, development, and
                    flexibility.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5">
            <div class="row list-item-row">
              <div class="col-lg-4">
                <div class="list-item-img">
                  <img src="assets/images/organisational_culture.svg" alt="Organisational Culture" />
                </div>
              </div>
              <div class="col-lg-8 align-self-center">
                <div class="list-item">
                  <h4>Organisational Culture</h4>
                  <p>We display organisation culture using DISC model. It is straightforward and highly relevant to your
                    behavioural type.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5">
            <div class="row list-item-row">
              <div class="col-lg-4">
                <div class="list-item-img">
                  <img src="assets/images/latest.svg" alt="Latest Review" />
                </div>
              </div>
              <div class="col-lg-8 align-self-center">
                <div class="list-item">
                  <h4>Latest review </h4>
                  <p>The company reviews are done by current employees. All reviews given by ex-employees are removed
                    automatically.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="get-ready-warp">
    <div class="container">
      <div class="get-ready">
        <h2>Make Smarter Decisions</h2>
        <p>
          MAKE DECISION + INSIGHTS = SMARTER DECISION
        </p>
        <div class="job-seeker">
          <a [routerLink]="['/account/register']">FREE REGISTRATION</a>
        </div>
      </div>
    </div>
  </section>

</div>
<!-- Contant End -->

<!-- footer Start -->
<app-footer></app-footer>
<!-- footer end  -->

