<app-header></app-header>


<!-- blog page banner start -->
<div class="blog-banner">
  <div class="overlay">
    <div class="container">
      <div class="blog-banner-content">
        <h1>How to use your organisationaly culture to hire the right employees</h1>
        <ul class="blog-tags">
          <li>Oct 29, 2020</li>
          <li>organisationaly culture</li>
          <li>9 min read</li>
        </ul>
        <a [routerLink]="['/blog/hire-right-employees']"  target="_blank">Read more</a>
      </div>
    </div>
  </div>
</div>
<!-- blog page banner start -->

<!-- blog content -->
<section class="blog-content">
  <div class="container">
    <div class="blog-content-inner">
      <div class="col-lg-4 col-md-6 col-sm-12"><a [routerLink]="['/blog/effectively-scale-performance']"  target="_blank">
          <div class="blog-card">
            <img class="card-img-top" src="assets/images/blog2.png" alt="">
            <div class="blog-card-body">
              <h5>How Organisations Can Effectively Scale Performance and Drive Results with the Right People</h5>
            </div>
            <ul class="blog-tags tag-footer">
              <li>Nov 2, 2020
              </li>
              <li>9 min read</li>
            </ul>
          </div>
        </a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a [routerLink]="['/blog/worst-workplace-culture']"  target="_blank" >
          <div class="blog-card">
            <img  class="card-img-top" src="assets/images/blog3.png" alt="...">
            <div class="blog-card-body">
              <h5>Worst workplace culture you could be in, based on your behaviour type.</h5>
            </div>
            <ul class="blog-tags tag-footer">
              <li>Oct 29, 2020
              </li>
              <li>9 min read</li>
            </ul>
          </div>
        </a></div>
      <div class="col-lg-4 col-md-6 col-sm-12"><a [routerLink]="['/blog/six-actionable-steps-that-determine']"  target="_blank" >
          <div class="blog-card">
            <img  class="card-img-top" src="assets/images/blog4.png" alt="...">
            <div class="blog-card-body">
              <h5>Getting the Right Employee – 6 Actionable Steps That Determine Employee Fit.</h5>
            </div>
            <ul class="blog-tags tag-footer">
              <li>Oct 29, 2020
              </li>
              <li>9 min read</li>
            </ul>
          </div>
        </a></div>
    </div>
  </div>
</section>
<!-- blog content -->

<!-- footer Start -->
<app-footer></app-footer>
<!-- footer end  -->
