/* blog page banner start */
.header-wrap .main-header .navbar {
  padding: 15px 0px;

}
.blog-banner {
  background: url(../../../assets/images/right-employees.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.overlay {
  width: 100%;
  background-color: rgb(10, 37, 69, 0.5);
}
.blog-banner-content {
  padding: 140px 190px 140px 0px;
}
.blog-banner-content h1 {
  font-weight: 900;
  color:  white;
  opacity: none !important;
}
.blog-tags {
  padding: 30px 0px;
}
.blog-tags  li {
  font-size: 15px;
  padding: 0px 8px 10px 0px;
  color: white;
  display: inline;
}
.blog-tags  li:not(:first-child)::before {
  content: "|";
  padding-right: 8px;
}
.blog-banner-content a {
  color: #0A2545 !important;
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 12px 37px;
  font-size: 14px;
  border-radius: 25px;
  text-transform: uppercase;
}
/* blog page banner start */

/* blog cards */
.blog-content {
  padding: 40px 0px 20px;
}
.blog-content-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-card{
background: white;
  border-radius: 4px;
  border: none;
  margin: 3px;
  box-shadow: 0px 20px 50px #D9DBDF;
  overflow: hidden;
  margin-bottom: 30px;
  min-height: 400px;
}
.blog-card img {
  width: 120%;
}
.blog-card img:hover {
  transition: all 0.9s ease-in;
  transform: scale(1.1);
}
.blog-card:hover {
  box-shadow: 0 20px 40px -10px rgba(0,0,0,0.3);
}
.blog-card-body {
  padding: 30px 10px 0px;
}
.blog-card-body h5 {
  color: #0A2545;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
 margin: 0 5px;
  min-height: 50px;
}
.tag-footer li{
  color: #747474;
  padding: 20px 15px;}
/* blog cards */

/* responsives*/
@media all and (max-width: 991px) {
.blog-banner-content {
  padding: 140px 0px 140px 0px;
}
}
@media all and (max-width: 767px) {
.blog-banner-content h1 {
  font-size: 34px;
}
.blog-card-body {
  min-height: 175px;
}
}
@media all and (max-width: 575px) {
.blog-banner-content h1 {
  font-size: 32px;
}
}
@media all and (max-width: 480px){
.blog-banner-content h1 {
  font-size: 30px;
}
.blog-card-body {
  min-height: 145px;
}
}
@media all and (max-width: 375px){
.blog-banner-content h1 {
  font-size: 26px;
}
}
@media all and (max-width: 320px){
.blog-banner-content h1 {
  font-size: 23px;
}
}
