<app-header></app-header>

<!-- Banner Start -->
<div class="banner career-banner ">

  <div class="banner-wrap career-banner-wrap">
    <div class="banner-content">
      <h1>EMPLOYER BRANDING MATTERS,<br>
        MAKE IT STAND OUT FROM OTHERS.</h1>
      <p>Build your employer branding and create a personalised experience for the candidates who are looking to join
        your company.
      </p>
    </div>
  </div>
  <div class="banner-img career-banner-img">
    <img src="../../../assets/images/career-microsite-banner.svg" alt="Career Banner Site" />
  </div>
</div>
<div class="mobile-career-banner-img mb-3">
  <img src="../../../assets/images/career-microsite-banner.svg" alt="Career Banner Site" />
</div>
<!-- Banner End -->

<div class="content">

  <!-- Dont miss out potential start -->
  <section class="main-potential">
    <div class="container">
      <h2>MAKE YOUR LIFE EASIER WITH FOURLEAD CAREER MICROSITE.</h2>

      <div class="main-potential-inner">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="potential-card">
            <img src="../../assets/images/employer-branding.svg" alt="">
            <h3>EMPLOYER BRANDING</h3>
            <P>Control your branding and show what you wanted to be seen. No nonsense.</P>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="potential-card">
            <img src="../../assets/images/easy-job-management.svg" alt="">
            <h3>EASY JOB MANAGEMENT</h3>
            <P>Post, edit and close jobs directly from the microsite yourself. It is easy and fast.</P>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="potential-card">
            <img src="../../assets/images/database-collection.svg" alt="">
            <h3>TALENT POOL</h3>
            <P>View all applicants in one page with filters, not in one folder with PDF files.</P>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Dont miss out potential start -->


  <!-- our career pages start -->
  <section>
    <div class="container">
      <div class="our-career-pages">
        <h2>PROFESSIONAL AND FUNCTIONAL CAREER MICROSITE</h2>
        <p>Creating a professional Microsite is easy, all you need to do is to have a decent UI Designer, but creating a
          functional microsite needs trained programmers to develop, and it is costly. Fourlead Career Microsite
          Management is friendly, easy-set-up and cost-effective. Choose one of these four methods that best suit your
          business needs, and it could be ready within hours.</p>
        <div class="our-career-pages-inner">
          <div class="career-pages-content career-pages-reverse no-gutters">
            <div class="col-lg-5">
              <img src="../../assets/images/widget-method.svg" alt="">
            </div>
            <div class="col-lg-6">
              <div class="career-pages-detail">
                <h3>STARTER PLAN </h3>
                <p>Widget method – already have a microsite? No problem, get our job listing widget, and you can manage
                  your jobs and candidates.</p>
              </div>
            </div>
          </div>
          <div class="career-pages-content ">
            <div class="col-lg-6">
              <div class="career-pages-detail">
                <h3>BASIC PLAN</h3>
                <p>Link method – with minimal programming effort, add the link to your job opening/career button, and
                  you can have a professional microsite.</p>
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../assets/images/link-method.svg" alt="">
            </div>
          </div>
          <div class="career-pages-content career-pages-reverse no-gutters">
            <div class="col-lg-5">
              <img src="../../assets/images/customised-link-method.svg" alt="">
            </div>
            <div class="col-lg-6">
              <div class="career-pages-detail">
                <h3>PROFESSIONAL PLAN </h3>
                <p>Customise URL method – adding your company name to the URL gives a better branding image. It’s the
                  same simple set up using a link to your job opening button.</p>
              </div>
            </div>
          </div>
          <div class="career-pages-content no-gutters">
            <div class="col-lg-6">
              <div class="career-pages-detail">
                <h3>PREMIUM PLAN</h3>
                <p>Hosting method – create a career URL, and we will handle the rest. Fully customised professional
                  microsite with an easy and friendly set up.</p>
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../assets/images/hosting-method.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our career pages start -->

  <!-- our career examples start -->
  <section>
    <div class="container">
      <div class="main-our-career">


        <h2>OUR MICROSITE DESIGN TEMPLATES</h2>
        <p>Bored plain designs? Customise the content according to our clean and beautiful templates</p>
        <div class="main-our-career-inner">
          <div class="our-career-content career-type-two">
            <div class="our-career-card">
              <div class="col-lg-5 col-md-6 ">
                <div class="our-career-content-inner career-type-down">
                  <h4>Client's view</h4>
                  <img src="../../assets/images/career-page-sample-2-client.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="our-career-content-inner">
                  <h4>Candidate's view</h4>
                  <img src="../../assets/images/career-page-sample-2-candidate.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="our-career-content career-type-three">
            <div class="our-career-card">
              <div class="col-lg-5 col-md-6 ">
                <div class="our-career-content-inner">
                  <h4>Client's view</h4>
                  <img src="../../assets/images/career-page-sample-3-client.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="our-career-content-inner career-type-down">
                  <h4>Candidate's view</h4>
                  <img src="../../assets/images/career-page-sample-3-candidate.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our career examples start -->



  <!-- Contact form start -->
  <section class="contact-information">
    <div class="container">
      <h2>Learn how Fourlead can help you to manage your career site in a smarter way.</h2>
      <div>
        <form novalidate [formGroup]="careerPageForm" class="contact-information-inner">
          <div class="col-lg-3 col-md-6 col-sm-6 form-group">
            <input type="text" placeholder="Name*" class="form-control" formControlName="yourName">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 form-group">
            <input type="text" placeholder="Email address*" class="form-control" formControlName="email">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 form-group">
            <input type="text" placeholder="Mobile no. (optional)" class="form-control" formControlName="contactNo">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <button type="contact me" [disabled]="!careerPageForm.valid || submitting" (click)="contactUs()"
              class="contact-bt">Request a Demo</button>
          </div>

        </form>
      </div>
    </div>
  </section>
  <!-- Contact form start -->
</div>

<!-- footer Start -->
<app-footer></app-footer>
<!-- footer end  -->
