<!-- header start -->
<app-header></app-header>
<!-- header end -->

<!-- blog one start -->
<section>
  <div class="container">


    <div class="blog-inner-warp">

      <h1>How Organisations Can Effectively Scale Performance and Drive
        Results with the Right People.</h1>

      <div class="inner-blog-img-wrap">
        <div class="main-social-media">
          <div class="author">
            <div class="author-details">
              <div><a href="#" rel="author"> Don Low</a></div>
              <span title="29 July 2020">29 Dec 2020</span>
            </div>
          </div>
          <ul class="soical-link">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>

          </ul>
        </div>
        <img src="assets/images/blog2.png" alt="">
        <p class="img-caption">What is the problem; the tool or the person who pick the tool? It is easy to tell that we
          have used the wrong tool
          for the wrong job, just like the picture. What about the people in your organisation? It takes so much of
          study,
          consideration, assessment and gamble for hiring a person.
          Photo by Pixabay
        </p>
      </div>

      <article>
        <h5>Part I – The Importance of the Right Employee</h5>
        <h5>Do you know why businesses invest so much time and resources in finding,
          hiring, and keeping the right employees?</h5>
        <p>It’s because the right employees are like missing puzzle pieces; they fit in the right
          holes and create a cohesive, complete product. Employers lose so much when they
          hire amiss and the lean methods and model of today’s businesses require
          businesses to use fewer employees to achieve their organisational goal and
          objectives. Instagram was a 13-employee business with a billion-dollar value when
          Facebook bought it. Imagine if a company with that kind of economic value had one
          disruptive employee on its payroll who could not align with its culture of collaborative
          work/team behaviour and this affected workflow within the organisation, what effect
          would this unwanted work trait have on the brand’s economic and social potential?
          It’s easy to think of a bad hire as a single identifiable entity. If you had an extra
          $15,000 or RM 62,8500 to spare (which Career Builder estimates are the cost of one
          bad hire), a bad hire wouldn’t matter too much. However, even multinationals with
          deep pockets would rather fork out this cash to find the right fit for every job. 

        </p>

        <p>Truth is - it does not matter how exceptional an individual is at what he/she does, if
          such person lacks the behaviour required for the job/within the organisation, cannot
          embrace the expected organisational culture or work with others to achieve the
          organisation’s objectives, the skills will not come to matter much. Imagine an athlete
          coming down with a toothache or headache on game day… at that moment, it won’t
          matter whether he has the right height, build or statistics to take the top medal, it
          won’t matter that other body parts are in excellent shape, that only discomfort will
          hamper performance and significantly affect his chances of making the top cut. If the
          star of a football team decides to do his own thing and refuses to work with his
          teammates, it won’t matter at that moment how fantastic his performance or style of
          play is or how many hattricks he has on record, he won’t be able to do the work of
          winning all by himself. This is because he is part of a team, and the strength of their
          cohesion is what fuels his star power. The moment he isolates himself and his
          support structure is lost, he becomes an underperformer and his skills almost
          become useless against a unified opposing team.</p>

        <p>This is the cost of a wrong fit in the right position. Terrible behaviour can easily make
          intelligence useless; this is why employers will choose fit over skills and, this is why
          the lone wolf with the most robust profile will get passed over by employers for the
          person who has fewer skills/ less experience but excellent behavioural fit. Skills can
          be acquired via training, but can attitude be easily changed or, can cultural fit be
          seamlessly created?</p>
      </article>
    </div>

  </div>
</section>
<!-- blog one start -->

<!-- footer Start -->
<app-footer></app-footer>
<!-- footer end  -->
