<!-- Contant Start -->
<div class="content bg-gray">
  <div class="job-description">
    
    <div class="company-profile-name-wrap">
      <div class="container">

        <div class="company-profile-name-content">

          <img *ngIf="!jobAd.isConfidential" [src]="coverImagePath">
          <img *ngIf="jobAd.isConfidential" class="company-pro-img" src="assets/images/compnay-confidential.png" alt="">

          <div class="company-profile-name">
            <div class="company-profile-img-wrap">
              <div class="for-update-profile">
                <img *ngIf="!jobAd.isConfidential" itemprop="logo" [src]="profileImagePath">
                <img *ngIf="jobAd.isConfidential" class="company-pro-img" src="assets/images/confidential.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-profile-des-wrap">
      <div class="container">

        <div class="company-profile-des">
          <div *ngIf="!jobAd.isConfidential" itemprop="name" class="company-name">
            <a>{{company.name}}</a>
          </div>
          <div *ngIf="jobAd.isConfidential" class="company-name">
            <a>Confidential Company</a>
          </div>
          <div>

          </div>
          <div class="company-follow">
            <!-- <a (click)="onFollowClick()" class="follow" *ngIf="!company.isSubscribed" >Follow</a>
              <a (click)="onUnfollowClick()" class="follow" *ngIf="company.isSubscribed" >Unfollow</a> -->
          </div>
        </div>
      </div>
    </div>


    <div class="job-description-outer-wrap">
      <div class="container">
        <div class="row custom-row">
          <div class="col-lg-9 custom-col">
            <div class="company-profile-main-setting-wrap">
              <div class="job-description-wrap job-description-inner">
                <div class="row custom-row p-0">
                  <div *ngIf="jobAd.isConfidential && jobAd.aboutConfidential" class="col-lg-12 custom-col">
                    <div class="company-profile-main-setting bg-white bg-white-radius">

                      <div class="company-main-content company-profile-main-setting">

                        <div [innerHTML]='jobAd.aboutConfidential'></div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-12 custom-col">
                    <div class="company-profile-main-setting bg-white bg-white-radius">
                      <div class="company-main-content job-title-msg">
                        <h4 *ngIf="jobAd.jobTitle">{{jobAd.jobTitle}}</h4>
                        <h4 *ngIf="!jobAd.jobTitle">{{jobAd?.specialization?.name}}, {{jobAd?.position?.name}} </h4>
                      </div>
                    </div>
                    <!-- <div  class="company-profile-main-setting bg-white bg-white-radius">
                      <div  class="company-main-content job-title-msg">
                        <h3 itemprop="title" >{{jobAd?.title}}</h3>
                      </div>
                    </div> -->
                  </div>
                  <div class="col-lg-12 custom-col">

                    <div class="requirement">

                      <div class="company-profile-main-setting bg-white bg-white-radius">
                        <div class="company-main-content">
                          <h4>Job Description</h4>
                        </div>
                        <div itemprop="description" [innerHTML]='jobAd.description'></div>
                      </div>

                      <div class="company-profile-main-setting bg-white bg-white-radius">

                        <div class="company-overview">
                          <div class="company-main-content">
                            <h4>Job Requirement</h4>
                          </div>
                          <h5>Education</h5>
                          <ul *ngFor="let q of jobAd?.qualifications">
                            <li>{{q.qualification.name}}</li>
                          </ul>
                          <h5>Language</h5>
                          <ul *ngFor="let s of languageSkills">
                            <li>{{s.skillName}}
                              <span *ngFor="let sd of s.jobAdSkillDetails">
                                {{sd.proficiency.name}}({{sd.proficiencyLevel.name}})
                              </span>
                            </li>
                          </ul>
                          <h5 *ngIf='isFoundHardSkill(hardSkills)'>Hard Skills</h5>
                          <ul *ngFor="let s of hardSkills">
                            <li>{{s.skillName}}
                              <span *ngFor="let sd of s.jobAdSkillDetails">
                                ({{sd.proficiencyLevel.name}})
                              </span>
                            </li>
                          </ul>
                          <h5 *ngIf='isFoundSoftSkill(softSkills)'>Soft Skills</h5>
                          <ul *ngFor="let s of softSkills">
                            <li>{{s.skillName}}
                              <span *ngFor="let sd of s.jobAdSkillDetails">
                                ({{sd.proficiencyLevel.name}})
                              </span>
                            </li>
                          </ul>
                          <h5 *ngIf="jobAd?.jobAdBenefits?.length > 0">Benefits</h5>
                          <ul *ngFor="let s of jobAd.jobAdBenefits">
                            <li>{{s.benefitName}}

                            </li>
                          </ul>
                          <h5 *ngIf="jobAd.otherRequirements">Other Information </h5>
                          <span [innerHTML]='jobAd.otherRequirements'></span>


                        </div>
                      </div>
                      <div class="company-profile-main-setting  bg-white bg-white-radius">
                        <div class="company-main-content ">
                          <h4>Company Overview</h4>

                        </div>
                        <ul class="company-overview company-overview-on-job">
                          <li>
                            <h5>Company insights ({{companyOverview?.total}}) </h5>
                            <div class="row company-culture-img" *ngIf="!loadingCompanyOverview">

                              <ng-container
                                *ngIf="companyOverview && companyOverview?.total>0; then overview; else noreview">
                              </ng-container>
                              <ng-template #overview>
                                <div class="col-lg-12 culture-graph-col">
                                  <h4>Company culture</h4>
                                  <div class="culture-graph-wrap">
                                    <ngx-charts-advanced-pie-chart [view]="flView" [scheme]="fLColorScheme"
                                      [results]="flResult" [gradient]="gradient">
                                    </ngx-charts-advanced-pie-chart>
                                  </div>
                                </div>

                              </ng-template>
                              <ng-template #noreview>
                                <div class="col-lg-4">
                                  <p>Not available at the moment.</p>
                                </div>
                              </ng-template>
                            </div>
                            <div class="row company-culture-img" *ngIf="loadingCompanyOverview">
                              <div class="col-lg-4">
                                Getting Company Overview...
                              </div>
                            </div>
                          </li>
                          <li>
                            <h5>Industry</h5>
                            <a *ngFor="let industry of company.companyIndustries"
                              itemprop="industry">{{industry.industry?.name}}</a>
                          </li>
                          <li>
                            <h5>Founded year</h5>
                            <a *ngIf="company.foundedYear">{{company.foundedYear| date:'yyyy'}}</a>
                          <li>
                            <h5>Working hour</h5>
                            <a itemprop="workHours">{{workingHours}}</a>
                          </li>
                          <li *ngIf="!jobAd.isConfidential">
                            <h5>Company registration no.</h5>
                            <a *ngIf="company.registrationNumber">{{company.registrationNumber}}</a>
                          </li>
                          <li>
                            <h5>Business Sector </h5>
                            <a *ngIf="company.businessSector"
                              itemprop="occupationalCategory">{{company.businessSector?.name}}</a>
                          </li>
                          <li>
                            <h5>Company size</h5>
                            <a *ngIf="company.companySize"> {{company.companySize?.name}}</a>
                          </li>
                          <li>
                            <h5>Benefits</h5>
                            <a *ngFor="let benefit of company.companyBenefits" itemprop="jobBenefits">
                              {{benefit?.benefit?.name}},&nbsp;</a>
                          </li>
                          <li *ngIf="!jobAd.isConfidential">
                            <h5>Website</h5>
                            <a>{{company?.webSite}}</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 custom-col">
            <div *ngIf="userId">
              <ng-container *ngIf="
              !jobAd?.userAppliedStatus;
              then applyJob;
              else WithdrawJob
            ">
              </ng-container>

              <ng-template #applyJob>
                <div class="view-dashboard">
                  <a (click)="apply()">Apply Now</a>
                </div>
              </ng-template>

              <ng-template #WithdrawJob>
                <div class="view-dashboard">
                  <a (click)="delete(jobAd)">Withdraw</a>
                </div>

              </ng-template>

            </div>
            <div *ngIf="!userId">
              <div class="view-dashboard">
                <a [routerLink]="['/account/login']">Login to Apply</a>
              </div>

            </div>
            <h3 class='text-center font-weight-bold mt-1 mb-1'>Share With Friends</h3>


            <ul class="social-media">
              <li (click)="sochialShare('facebook')"><i class="fa fa-facebook"></i></li>
              <li (click)="sochialShare('twitter')"><i class="fa fa-twitter"></i></li>
              <li (click)="sochialShare('linkedin')"><i class="fa fa-linkedin"></i></li>

              <li class="p-2" cdkCopyToClipboard="https://fourlead.com/free-behaviour-assessment"><i
                  class="fa fa-link "></i>
                <span class="tooltiptext">Click to Copy Link</span></li>
            </ul>


            <div class="promotion-banner apply-now  ">

              <h5>Employment type</h5>
              <p>{{jobAd?.employmentType?.name}}</p>


              <h5>Experience</h5>
              <p>{{jobAd?.workExperienceFrom}}-{{jobAd?.workExperienceTo}} years </p>


              <h5 *ngIf="jobAd.jobAdBehaviours?.length > 0">Behaviour demand</h5>
              <span *ngFor="let jb of jobAd.jobAdBehaviours">
                {{jb.behaviour?.name| slice:0:1}},
              </span>

              <h5>Salary Range </h5>

              <p> <span *ngIf="jobAd?.salaryRangeFrom" itemprop="salaryCurrency">MYR
                  <span *ngIf="jobAd?.salaryRangeFrom" itemprop="baseSalary"> - {{jobAd?.salaryRangeTo}}</span>
                  <span *ngIf="jobAd?.salaryRangeTo"> - {{jobAd?.salaryRangeTo}}</span></span>
                <span *ngIf="!jobAd?.salaryRangeFrom">Undisclosed</span>
              </p>

              <h5>Location </h5>

              <p>{{jobAd?.city}},{{jobAd?.state}} </p>
              <h5>Job ID </h5>
              <p>{{jobAd?.identifier}} </p>
            </div>

            <div class="promotion-banner chat-with-us">
              <ul>
                <li><a [routerLink]="['/about-us']">About us</a></li>
                <li><a [routerLink]="['/contact-us']">Contact us</a></li>
                <li><a [routerLink]="['/faqs']">FAQs</a></li>
                <li><a [routerLink]="['/legal']">Legal</a></li>
                <li><a [routerLink]="['/blog']">Blogs</a></li>
                <li><a [routerLink]="['/pricing']">Pricing</a></li>
              </ul>
              <!-- <p>Have questions? <a>Chat </a> with us</p> -->
              <div class="sidebar-copyright">
                <img src="assets/images/logo.png" alt="">
                <span>Agensi Pekerjaan Fourlead Sdn Bhd &copy; 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <!-- Contant End -->
