<footer>
  <div class="container-fuild">
      <div class="footer-wrap">
          <div class="footer-logo">
              <a [routerLink] ="['/']"><img src="assets/images/white-logo.png"
                      alt="Fourlead – Malaysia's job portal"></a>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 pdng-btm">
                  <div class="footer-content">
                      <h5>Company</h5>
                      <ul>
                          <li><a [routerLink] ="['/about-us']">About us</a></li>
                          <li><a [routerLink] ="['/contact-us']">Contact us</a></li>
                          <li><a [routerLink] ="['/blog']">Blog</a></li>
                          <li><a>Site Map</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 pdng-btm">
                  <div class="footer-content">
                      <h5>Legal </h5>
                      <ul>
                          <li><a [routerLink] ="['/legal']" routerLinkActive="active" target="_blank">Terms and
                                  conditions</a></li>
                          <li><a [routerLink] ="['/legal']" fragment="creditsterms" target="_blank">Credits and
                                  terms</a></li>
                          <li><a [routerLink] ="['/legal']" fragment="privacypolicy" target="_blank">Privacy
                                  policy</a></li>
                          <li><a [routerLink] ="['/legal']" fragment="refundpolicy" target="_blank">Refund policy</a>
                          </li>
                          <li><a [routerLink] ="['/legal']" fragment="cookiespolicy" target="_blank">Cookies
                                  policy</a> </li>
                          <li><a [routerLink] ="['/legal']" fragment="disclaimer" target="_blank">Disclaimer</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 pdng-btm">
                  <div class="footer-content">
                      <h5>Explore</h5>
                      <ul>

                          <li><a [routerLink] ="['/pricing']">Pricing</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-6 pdng-btm">
                  <div class="footer-content">
                      <h5>Connect with us</h5>
                      <ul class="soical-link">
                          <li>
                              <a href="https://www.facebook.com/aSmarterJobPortal" target="_blank" rel="noreferrer"><i
                                      class="fa fa-facebook" aria-hidden="true"></i></a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/fourleadmalaysia/" target="_blank" rel="noreferrer"><i
                                      class="fa fa-instagram" aria-hidden="true"></i></a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/company/fourlead" target="_blank" rel="noreferrer"><i
                                      class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </li>
                      </ul>
                      <ul>
                          <h5>Support</h5>
                          <li><a href="mailto:hello@fourlead.com">hello@fourlead.com</a></li>
                          <li><a [routerLink] ="['/faqs']" target="_blank">FAQs</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
